# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
*.class
*.ctxt
*.ear
*.iml
*.iws
*.jar
*.launch
*.log
*.rar
*.sublime-workspace
*.tar.gz
*.war
*.zip
.c9/
.classpath
.DS_Store
.editorconfig
.idea
.mtj.tmp/
.project
.settings/
.vscode/*
/.sass-cache
/connect.lock
/coverage
/e2e/*.js
/e2e/*.map
/libpeerconnection.log
/typings
applog.txt
coverage/
dist/
gen
hs_err_pid*
junk*.*
log/
node_modules/
out-tsc/
out/
target/
temp/
test-report.*
Thumbs.db
tmp/
